

.about__title{
    text-align: center;
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 70px;
    color: #373737;
}
.about__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    color: #373737;
}
.about__item{
    display: flex;
    align-items: center;
    justify-content:start;
    margin: 0 30px;
}
.about__item img{
    width: 72px;
    margin-right: 15px;
}

.about__text{
    margin: 0 15px;
}
.about__text p{
    /* width: 200px; */
    font-size: 16px;
    text-align: justify;
    font-weight: 300;
}
.about__text a{
    text-decoration: none;
    color: #373737;
    font-weight: 500;
    
}
.about__text a:hover{
    color: #2cc295;
}
.contact__section{
    display: flex;
    color: #373737;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
}
.contact__section li{
    list-style: none;
}
.contact__item{
    margin: 0 15px;
    cursor: pointer;
    
}
.contact__item img{
    width: 24px;
    transition: transform ease-in-out 0.2s;
    
}
.contact__item img:hover{
    transform: scale(1.1);

}
.contact__line{
    width: 320px;
    margin: 0 30px;
    
    border: none;
    height: 0.1px;
    background: rgba(37, 37, 37, 0.623);
}

.about__title{
    text-align: center;
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 70px;
    color: #373737;
}
.about__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    color: #373737;
}
.about__item{
    color: white;
    background-color: rgb(115, 174, 156);
    margin: 10px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:start;
    /* margin: 0 30px; */
}
.about__item img{
    width: 72px;
    margin-right: 15px;
    filter: brightness(100);
}
.left__text{
    font-size: 24px;
}
.about__text{
    margin: 0 15px;

}
.about__text p{
    font-size: 24px;
    /* width: 200px; */
    font-size: 14px;
    text-align: justify;
    font-weight: 300;
}
.about__text a{
    text-decoration: none;
    /* color: #373737; */
    color: white;
    font-weight: 500;
    font-size: 21px;
    
}
.about__text a:hover{
    color: #2cc295;
}
.contact__section{
    display: flex;
    color: #373737;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
}
.contact__section li{
    list-style: none;
}
.contact__item{
    margin: 0 15px;
    cursor: pointer;
    
}
.contact__item img{
    width: 24px;
    transition: transform ease-in-out 0.2s;
    
}
.contact__item img:hover{
    transform: scale(1.1);

}
.contact__line{
    width: 320px;
    margin: 0 30px;
    
    border: none;
    height: 0.1px;
    background: rgba(37, 37, 37, 0.623);
}

.right__section{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}