.nav__bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 100px;
    font-size: 16px;
    font-size: 21px;
    
}

.nav__list{
    display: flex;
    justify-content: space-between;
    
    
}
.nav__item{
    padding: 0 10px;
    text-decoration: none;
    color: black;
}
.nav__item:hover{
    color: rgb(115, 174, 156);
}

.login__btn{
    padding: 10px 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    text-decoration: none;
    border: none;
    background-color: rgb(162, 224, 206);
    border-radius: 30px;
    font-weight: 500;
    transition: transform ease-in-out 0.3s;
}


.login__btn:hover{
    cursor: pointer;
    transform: scale(1.01);
    border: rgb(162, 224, 206) 1px solid;
    background-color: white;
    color: rgb(162, 224, 206);
}
.container{
    max-width: 1350px;
    margin: 20px auto;
}