.tour__list {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  color: #373737;
}
.list__title {
  font-size: 36px;
}

.tour__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}


.load__btn{
    color: #373737;
    padding: 20px 30px;
    border-radius: 30px;
    border:none;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;  
    background-color: rgb(162, 224, 206);
    transition: transform ease-in-out 0.3s;
}
.load__btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}



.search__bar{
    margin-top: 40px;
    margin-bottom: 50px;

}
.search__input{
    padding: 15px 20px;
    border-radius: 30px;
    border: solid 1px rgb(132, 132, 132);
    margin: 0 20px;
    width: 300px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    outline: none;

}

.clear__btn{
    padding: 15px;
    border-radius: 30px;
    border: solid 1px #e73c3c ;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background: none;
    color: #e73c3c;
    transition: ease-in 0.2s;

}
.clear__btn:hover{
    background-color: #e73c3c;
    color: white;
    cursor: pointer;
}



.loading{
    font-size: 24px;
    color: #555;
    text-align: center;
    margin-top: 10px;

}



.tour__list button {
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(162, 224, 206);
  color: #373737;
  margin: 0 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.tour__list button:hover:not(:disabled) {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgb(140, 200, 185);
}

.tour__list button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.filters select {
  padding: 12px 15px;
  border-radius: 30px;
  border: 1px solid rgb(132, 132, 132);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  margin: 0 10px 20px 0;
  min-width: 180px;
  transition: border-color 0.3s ease;
}

.filters select:hover {
  border-color: rgb(100, 180, 160);
}


.search__input::placeholder {
  color: #aaa;
  font-style: italic;
}
