.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    margin: 50px;
    width: 1em;
    height: 1em;
    font-size: 10px;
    display: inline-block; 
    
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
}


@keyframes mulShdSpin {
    0%, 100% {
        box-shadow: 0em -2.6em 0em 0em rgb(162,224,206), 1.8em -1.8em 0 0em rgba(162,224,206,0.3), 2.5em 0 0 0em rgba(162,224,206,0.3), 1.75em 1.75em 0 0em rgba(162,224,206,0.3), 0 2.5em 0 0 rgba(162,224,206,0.3), -1.8em 1.8em 0 0 rgba(162,224,206,0.3), -2.6em 0 0 0 rgba(162,224,206,0.6), -1.8em -1.8em 0 0 rgba(162,224,206,0.8);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(162,224,206,0.8), 1.8em -1.8em 0 0em rgb(162,224,206), 2.5em 0 0 0em rgba(162,224,206,0.3), 1.75em 1.75em 0 0em rgba(162,224,206,0.3), 0 2.5em 0 0 rgba(162,224,206,0.3), -1.8em 1.8em 0 0 rgba(162,224,206,0.3), -2.6em 0 0 0 rgba(162,224,206,0.3), -1.8em -1.8em 0 0 rgba(162,224,206,0.6);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(162,224,206,0.6), 1.8em -1.8em 0 0em rgba(162,224,206,0.8), 2.5em 0 0 0em rgb(162,224,206), 1.75em 1.75em 0 0em rgba(162,224,206,0.3), 0 2.5em 0 0 rgba(162,224,206,0.3), -1.8em 1.8em 0 0 rgba(162,224,206,0.3), -2.6em 0 0 0 rgba(162,224,206,0.3), -1.8em -1.8em 0 0 rgba(162,224,206,0.3);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(162,224,206,0.3), 1.8em -1.8em 0 0em rgba(162,224,206,0.6), 2.5em 0 0 0em rgba(162,224,206,0.8), 1.75em 1.75em 0 0em rgb(162,224,206), 0 2.5em 0 0 rgba(162,224,206,0.3), -1.8em 1.8em 0 0 rgba(162,224,206,0.3), -2.6em 0 0 0 rgba(162,224,206,0.3), -1.8em -1.8em 0 0 rgba(162,224,206,0.3);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(162,224,206,0.3), 1.8em -1.8em 0 0em rgba(162,224,206,0.3), 2.5em 0 0 0em rgba(162,224,206,0.6), 1.75em 1.75em 0 0em rgba(162,224,206,0.8), 0 2.5em 0 0 rgb(162,224,206), -1.8em 1.8em 0 0 rgba(162,224,206,0.3), -2.6em 0 0 0 rgba(162,224,206,0.3), -1.8em -1.8em 0 0 rgba(162,224,206,0.3);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(162,224,206,0.3), 1.8em -1.8em 0 0em rgba(162,224,206,0.3), 2.5em 0 0 0em rgba(162,224,206,0.3), 1.75em 1.75em 0 0em rgba(162,224,206,0.6), 0 2.5em 0 0 rgba(162,224,206,0.8), -1.8em 1.8em 0 0 rgb(162,224,206), -2.6em 0 0 0 rgba(162,224,206,0.3), -1.8em -1.8em 0 0 rgba(162,224,206,0.3);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(162,224,206,0.3), 1.8em -1.8em 0 0em rgba(162,224,206,0.3), 2.5em 0 0 0em rgba(162,224,206,0.3), 1.75em 1.75em 0 0em rgba(162,224,206,0.3), 0 2.5em 0 0 rgba(162,224,206,0.6), -1.8em 1.8em 0 0 rgba(162,224,206,0.8), -2.6em 0 0 0 rgb(162,224,206), -1.8em -1.8em 0 0 rgba(162,224,206,0.3);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(162,224,206,0.3), 1.8em -1.8em 0 0em rgba(162,224,206,0.3), 2.5em 0 0 0em rgba(162,224,206,0.3), 1.75em 1.75em 0 0em rgba(162,224,206,0.3), 0 2.5em 0 0 rgba(162,224,206,0.3), -1.8em 1.8em 0 0 rgba(162,224,206,0.6), -2.6em 0 0 0 rgba(162,224,206,0.8), -1.8em -1.8em 0 0 rgb(162,224,206);
    }
}
