.profile__block {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 22px 5px #d2d2d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;          
    padding: 20px;         
    margin: 40px auto;   
    color: #555;  
    padding: 30px 60px;
}

.profile__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.profile__ava {
    width: 100px;
    height: 100px;          
    border-radius: 50%;    
    object-fit: cover;      
    margin-bottom: 15px;
}
