


.tour__details {
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.tour__location{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.tour__country{
  font-size: 24px;
  font-weight: 300;
}
.img__star{
  width: 21px;
  margin-right: 10px;
}

.tour__rating{
  font-size: 24px;
  font-weight: 400;

}
.tour__top{
  display: flex;
  justify-content: space-between;
  align-items: center;


}
/* 
.tour__gallery {
  width: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.tour__img{
  width: 500px;
  border-radius: 10px;
  margin-left: 20px;
} */

.tour__top {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}


.tour__gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tour__gallery img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}


.tour__mainphoto {
  flex: 1;
}

.tour__mainphoto img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}
.tour__title {

  font-size: 32px;

  text-align: center;
}

.tour__pricee{
  font-size: 32px;
  font-weight: bold;
    color: #72d8a9;
}
.tour__titlemain{
  display: flex;
  justify-content: space-between;
  align-items: center;

}



.tour__info{
 
}

.tour__btn {
  display: block;
  margin: 25px auto 0;
  padding: 10px 20px;
  background: rgb(162, 224, 206);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.tour__btn:hover {
  background: rgb(61, 237, 187);
}


.duration__icon{
  width: 36px;
  margin-right: 10px;
}

.tour__icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour__elements{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour__elements p{
  font-size: 32px;
  font-weight: 600;
}

.tour__dates{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  color: #999999;
  font-weight: 300;
}

.tour__descriptionn{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 100px;
}