.tour__detail{
  text-decoration: none;
}
.tour__card {
    width: 250px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.tour__card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tour__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.tour__content {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.tour__title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.tour__country {
    font-size: 14px;
    font-weight: 500;
    color: #666;
}

.tour__description {
    font-size: 13px;
    color: #555;
    height: 50px;
    overflow: hidden;

}

.tour__price {
    font-size: 16px;
    font-weight: bold;
    color: #1a73e8;
}
